*{
  padding: 0%;
  margin: 0%;
}
body{
  background-image: url('https://abrakadabra.fun/uploads/posts/2022-03/1647334650_3-abrakadabra-fun-p-gazon-tekstura-besshovnaya-visokogo-kaches-5.jpg');
  padding: 0% 5%;
  
}